

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(150, 204, 255), rgb(192, 236, 250));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: white;
  margin-left: 30px;
  font-family: 'Inter', sans-serif;
}

.divisoria-laranja {
  position: absolute;
  top: 0;
  left: 0%;
  background-color: #FC6335;
  width: 100%;
  border-radius: 0 15px 15px 0;
  display: flex;
  margin-top: 30px;
}

.voltar {
  position: absolute;
  background-color: #FC6335;
  padding: 5px;
  right: 0%;
  top: 0;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 15px;
  width: fit-content;
  z-index: 99;
}

.voltar > a {
  text-decoration: none;
  color: white;
  font-family: 'Inter', sans-serif;
}

main{
  display: flex;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.card{
  display: flex;
  background-color: white;
  padding: 30px;
  width: 50%;
  border: 2px solid black;
  font-family: 'Montserrat', sans-serif;
}

.card img{
  width: 18.75rem;
  height: 12.5rem;
}

.conteudo-card{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 15px;
}

.content{
  position: relative;
  font-size: 1rem;
}

.subtitulos{

  flex-wrap: nowrap;
}

.verMais , .data{
  position: relative;
}

.conteudo-card button{
  width: 70px;
  height: 30px;
}

.conteudo-expandido{
  display: none;
}

